<div class="container">
    <app-nav></app-nav>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col">#</th>
                <th class="col">Name</th>
                <th class="col">Price Low</th>
                <th class="col">Price High</th>
            </tr>
        </thead>
        <tbody *ngFor="let crypto of cryptoList">
            <td></td>
            <td>{{crypto.name}}</td>
            <td>price_low</td>
            <td>price_high</td>
        </tbody>
    </table>
</div>
