

:host {
    background-image: url('src/assets/images/bg.jpg');
    background-size: cover;
    background-position: center;
    margin: 0 !important;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding: 1rem 1rem;
}

.card {
    max-width: 30rem;
}