.btn-wishlist {
    width: 5.75rem;
    height: 5.75rem;
    padding: 0 !important;
    transition: color .25s ease-in-out,background-color .25s ease-in-out,border-color .25s ease-in-out,box-shadow .2s ease-in-out;
    border: 0;
    border-radius: 50%;
    background-color: #f3f5f9;
    color: #373f50;
    text-align: center;
  }

  .btn-wishlist:hover {
    color: #404bc5;
    cursor: pointer;
  }

  .btn-wishlist>i, .d-flex>.price, .d-flex>.crypto {
    font-size: 3.0625rem;
    line-height: 2.75rem;
  }

  .d-flex {
    margin-top: 4rem;
  }

  span {
    padding: 2rem;
  }

  input {
    font-size: 2rem;
    text-align: center;
  }