<main class="mb-4">
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <h3 class="my-5">Registration</h3>
          <div class="my-5">
            <form
              [formGroup]="regForm"
            >
              <div *ngIf="email" class="form-floating my-2">
                <input
                  class="form-control"
                  type="text"
                  id="email"
                  formControlName="email"
                  placeholder="Enter email"
                />
                <label for="email">Email</label>
                <small
                  *ngIf="email.invalid && email.touched"
                  class="small text-danger"
                >
                  Email is required
                </small>
              </div>
              <div *ngIf="name" class="form-floating my-2">
                <input
                  class="form-control"
                  id="name"
                  type="text"
                  formControlName="name"
                  placeholder="Enter your name..."
                />
                <label for="name">Name</label>
                <small
                  *ngIf="name.invalid && name.touched"
                  class="small text-danger"
                >
                  A name is required.
                </small>
              </div>
              <div *ngIf="password" class="form-floating my-2">
                <input
                  class="form-control"
                  id="password"
                  type="password"
                  formControlName="password"
                  placeholder="Enter your password..."
                />
                <label for="password">Password</label>
                <small
                  *ngIf="password.invalid && password.touched"
                  class="small text-danger"
                >
                  A password is required.
                </small>
              </div>
              <div *ngIf="confirmPassword" class="form-floating my-2">
                <input
                  class="form-control"
                  id="confirmPassword"
                  type="password"
                  formControlName="confirmPassword"
                  placeholder="Enter your confirmPassword..."
                />
                <label for="confirmPassword">Confirm Password</label>
                <small
                  *ngIf="confirmPassword.dirty && confirmPassword?.invalid"
                  class="small text-danger"
                >
                  A password is required.
                </small>
                <small
                *ngIf="regForm?.errors?.['PasswordsNotMatch']"
                  class="small text-danger"
                >
                  Not the same Password! 
                </small>
              </div>
              <!-- Submit Button-->
              <button
                class="btn btn-primary text-uppercase mt-2"
                id="submitButton"
                type="submit"
                [disabled]="!regForm.valid"
              >
                {{ updateCustomerId ? 'Update' : 'Registrate' }}
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>